{% extends "base.html" %}
{% load static %}

{% block cssLink %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock %}
{% block content %}
    <h2>Blog</h2>
    <hr>
    <div class="container-fluid">
            <div class="row news">
            {% for post in post_list %}
                    <div class="post col-sm-12 col-md-4" >
                            <h3>{{ post.title }}</h3>
                            <h6> author:{{ post.author }}</h6>
                            <div>
                                    <p class="content">
                                        {{ post.content | slice:":200" }}
                                    </p>
                            </div>
                            <p class="center contactBtn"><a class="links" href="{% url 'blogDetails' post.slug %}">More</a></p>
                    </div>
            {% endfor %}
            </div>
    </div>
    <hr>
{% endblock %}