/* Blog Styles */
.news h3{
    text-align: center;
}
h6 {
    color: lightslategray;
    text-align: center;
}
.post {
    padding: 2em 0;
}
.normal {
    margin: 1em auto;
}
.item {
    width: 100%;
    padding: 1em;
    text-align: center;
}
.content{
    margin: auto;
    text-align: left;
    padding: 0 2em;
}
